h2 edit the page
form(ng-submit='editPage()')
  h3 {{page.title}}
  h3 body
  textarea(ng-model='page.content')
  h4
  input(type='submit', value='Donesies')

  hr

  h4 preview of {{page.title}}
  div(btf-markdown='page.content')
